.primary-color{
    color:#0078ff!important;
}
.relative{
    position: relative!important;
}
.container{
    margin: 0 250px 0 250px;
}
.portfolio-container{
    margin:0 300px 0 300px;
}
.uppercase{
    text-transform: uppercase;
}
.sans-serif{
    font-family: "Lucida Grande", Lato, sans-serif!important;
}
.cursive{
    font-family: Noteworthy, Delius, cursive!important;
}
.width-100-percent{
 width:100%;
}
.width-90-percent{
    width:90%;
   }
.text-center{
    text-align: center;
}
.grid{
    display: grid;
}
.grid-3{
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
}
.grid-col-2{
    grid-template-columns: auto auto;
}
.grid-2{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}
.grid-4{
    grid-template-columns: auto auto auto auto;
}
.height-100-percent{
    height: 100%;
}
.text-white{
    color:#ffffff!important;
}
.pl-5{
    padding-left: 5px!important;
}
.pr-5{
    padding-right: 5px!important;
}
.px-1{
    padding:0 1px!important;
}
.px-2{
    padding:0 2px!important;
}
.px-3{
    padding:0 3px!important;
}
.px-4{
    padding:0 4px!important;
}
.px-5{
    padding:0 5px!important;
}
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.pt-1{
    padding-top: 20px;
}
.pb-2{
    padding-bottom: 40px;
}
.flex{
    display: flex;
    
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.a-flex-center{
    align-items: center;
}
.j-flex-end{
    justify-content: flex-end;
}
.m-0{
    margin: 0;
}
.object-fit-cover{
    object-fit: cover;
}